<!-- General Equipment Recommendation -->

{% extends 'base.html' %}

{% block title %} General Equipment {% endblock %}

{% block content %}

<div class="page pt-4">
	<div class="row justify-content-center mb-4">
		<div class=" col-md-9 ">
			<div class="row justify-content-center tempcontentdesign">
				<div class="col-lg-3">
					<img src="{{ url_for('static', filename='images/others/br2.gif') }}" width=100%>
				</div>
				<div class="col-lg-6">
					<br>
					<h1>Sorry. Page is still under construction!</h1>
				</div>
				<div class="col-lg-3">
					<img src="{{ url_for('static', filename='images/others/br.gif') }}" width=100%>
				</div>
			</div>
		</div>
	</div>
	<!-- Comment Section -->
	<div class="row justify-content-center">
		<div class="col-md-9">
			{% include 'comment.html' %}
		</div>
	</div>
</div>

{% endblock %}
